.loadingComponent {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.loadingComponent_title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}